<h1><%= @studio.name %></h1>
<h3>Location! Location! Location! <%= @studio.location %></h3>

<h4>Movies by: <%= @studio.name %>:</h4>
<% @movies.each do |movie| %>
  <ul>
    <li><%= movie.title %></li>
      <h4>Actors:</h4>
      <% movie.age_sort.each do |actor| %>
        <% if actor.currently_working == true %>
          <%= actor.name %>
          <%= actor.age %>
        <% end %>
      <% end %>
  </ul>
<% end %>
